@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">Contáctanos</h2>

    <address>
        Torre real 2, Vía Principal 133<br />
        San Isidro 15073<br />
        <abbr title="Teléfono">Telf:</abbr>
        991016890  /  +01 4430177
    </address>

    <address>
        <strong>Adopción:</strong>   <a href="mailto:Support@example.com">pethomeadopciones@pet.pe</a><br />
        <strong>Soporte:</strong> <a href="mailto:Marketing@example.com">pethomesupport1@pet.pe</a>
    </address>
</main>