<style>
    p {
        text-align:justify;
    }
</style>
@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Bienvenidos a Pet Home</h1>
    </section>
    <br />
    <br />
    <p class="lead">Somos un refugio de animales, cuyo objetivo principal es el de salvaguardar y cuidar de los perros abandonados en Lima, al igual que buscar un nuevo hogar para estos canes.</p>
    <br />
    <p class="lead">Encuentronos en cualquiera de nuestros 3 locales:</p>
    <br />
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h4 id="gettingStartedTitle">Santiago se Surco</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15603.974701689804!2d-76.9909699!3d-12.112585!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7196f823ea9%3A0x9856e119991e3a9a!2sPet%20Home%20%26%20Beauty!5e0!3m2!1sen!2spe!4v1699938888539!5m2!1sen!2spe" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h4 id="librariesTitle">Miraflores</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15603.20364830656!2d-77.0196864!3d-12.1257702!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c82317c62cc3%3A0xec12c0b3d4cbe369!2sVeterinaria%20Groomers!5e0!3m2!1sen!2spe!4v1699938924396!5m2!1sen!2spe" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h4 id="hostingTitle">Surquillo</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15603.924037726942!2d-77.0038931!3d-12.1134518!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7caef86a111%3A0x9463f36ad2c825a9!2sServicios%20M%C3%A9dicos%20Veterinarios%2024%20horas%20Oyanguren%20-%20Sede%20Surquillo!5e0!3m2!1sen!2spe!4v1700019218584!5m2!1sen!2spe" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </div>
    <br />
</main>